Automated ETL Workflow for CSV Data Ingestion.json
{
  "name": "Automated ETL Workflow for CSV Data Ingestion",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "labelIds": [
            "INBOX"
          ],
          "q": "subject: daily sales"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -384,
        -80
      ],
      "id": "083cb357-4684-4f45-b9a8-d412191de26b",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "j0OsRYtjL5oou47A",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Only allow CSV\nconst output = [];\nconst item = $input.item;\n\nconst binaryKeys = Object.keys(item.binary);\nbinaryKeys.forEach(key => {\n  const file = item.binary[key];\n  if (file.mimeType === 'text/csv' || file.fileExtension === 'csv') {\n    output.push({ json: {}, binary: { [key]: file } });\n  }\n});\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        -80
      ],
      "id": "ca87626d-17a3-41cd-8b71-2cc1209d1a12",
      "name": "Check CSV"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\n\n// 1. Make the function async\nconst input = $input.all();\nconst output = [];\n\nfor (let index = 0; index < input.length; index++) {\n  const item = input[index];\n  const binaryKeys = Object.keys(item.binary || {});\n\n  for (const key of binaryKeys) {\n    const file = item.binary[key];\n    \n    // 2. CORRECT WAY: Use the helper to fetch the full data Buffer\n    //    The arguments are: (itemIndex, binaryPropertyName)\n    //    'key' is the binary property name (e.g., 'data_0', 'data_1', etc.)\n    const buffer = await this.helpers.getBinaryDataBuffer(index, key); \n\n    // 3. Calculate the hash using the actual file Buffer\n    const hash = crypto.createHash('sha256').update(buffer).digest('hex');\n\n    output.push({\n      json: {\n        attachment: key,\n        fileName: file.fileName,\n        hash\n      },\n      binary: {\n        ['attachment_' + index]: file\n      }\n    });\n  }\n}\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        -80
      ],
      "id": "495521b6-5765-411d-a19e-457fa53813f7",
      "name": "Create Hash"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gzxdusrsrblvqklnofas.supabase.co/rest/v1/processed_files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"file_name\": $json.fileName, \"file_hash\": $json.hash} }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        816,
        96
      ],
      "id": "92746bb8-b596-4882-a3c3-df0d2c67a717",
      "name": "HTTP Request",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "V1DlPbC4T4LecDdI",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://gzxdusrsrblvqklnofas.supabase.co/rest/v1/processed_files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "file_hash",
              "value": "=eq.{{$json.hash}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        80,
        96
      ],
      "id": "3c254e7c-fa6c-4e56-8d31-fd0ad47cdb91",
      "name": "HTTP Request1",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "V1DlPbC4T4LecDdI",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        240,
        -64
      ],
      "id": "7f04fede-5253-4352-8b41-963e4c398eb1",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "291a75a2-b12a-41ba-88f2-6e34d78bb21c",
              "leftValue": "={{$json.exists}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        592,
        -64
      ],
      "id": "f5af138a-cc18-41ac-b6d2-d98dc3295bc7",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1024,
        -32
      ],
      "id": "f6410cf9-25fb-42f1-a3e0-be71ebf33460",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "return items.filter(item => item.json && item.json.attachment);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        -32
      ],
      "id": "3c9e2c81-0bba-4e92-93e3-547cb07c0000",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.attachment }}",
                    "rightValue": "attachment_0",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6b2eae5c-545c-44db-926b-76cc5492519f"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d73fa13d-01e9-4b76-8923-e2db2437b8cc",
                    "leftValue": "={{ $json.attachment }}",
                    "rightValue": "attachment_1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1408,
        -32
      ],
      "id": "cdb9b2ad-691f-488c-b328-8931e79efc95",
      "name": "Switch"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "fact_order_aggregate",
          "mode": "list",
          "cachedResultName": "fact_order_aggregate"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "order_id": "={{ $json.order_id }}",
            "customer_id": "={{ $json.customer_id }}",
            "on_time": "={{ $json.on_time }}",
            "in_full": "={{ $json.in_full }}",
            "otif": "={{ $json.otif }}",
            "order_placement_date": "={{ $json.order_placement_date.toDateTime(\"dd-MM-yyyy\").format('yyyy-MM-dd') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "order_id",
              "displayName": "order_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_id",
              "displayName": "customer_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "order_placement_date",
              "displayName": "order_placement_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "on_time",
              "displayName": "on_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "in_full",
              "displayName": "in_full",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "otif",
              "displayName": "otif",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1872,
        -176
      ],
      "id": "4d9876c4-fe6e-4959-bdea-416388bb24ca",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "OWFOmBW7EsHSRcYB",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "fact_order_line",
          "mode": "list",
          "cachedResultName": "fact_order_line"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "customer_id": "={{ $json.customer_id }}",
            "product_id": "={{ $json.product_id }}",
            "order_qty": "={{ $json.order_qty }}",
            "delivery_qty": "={{ $json.delivery_qty }}",
            "order_id": "={{ $json.order_id }}",
            "order_placement_date": "={{ $json.order_placement_date.toDateTime(\"dd-MM-yyyy\").format('yyyy-MM-dd') }}",
            "agreed_delivery_date": "={{ $json.agreed_delivery_date.toDateTime(\"dd-MM-yyyy\").format('yyyy-MM-dd') }}",
            "actual_delivery_date": "={{ $json.actual_delivery_date.toDateTime(\"dd-MM-yyyy\").format('yyyy-MM-dd') }}",
            "In Full": "={{ $json['In Full'] }}",
            "On Time": "={{ $json['On Time'] }}",
            "On Time In Full": "={{ $json['On Time In Full'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "order_id",
              "displayName": "order_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "order_placement_date",
              "displayName": "order_placement_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_id",
              "displayName": "customer_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "product_id",
              "displayName": "product_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "order_qty",
              "displayName": "order_qty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "agreed_delivery_date",
              "displayName": "agreed_delivery_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "actual_delivery_date",
              "displayName": "actual_delivery_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "delivery_qty",
              "displayName": "delivery_qty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "In Full",
              "displayName": "In Full",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "On Time",
              "displayName": "On Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "On Time In Full",
              "displayName": "On Time In Full",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1872,
        96
      ],
      "id": "bfa7fc1b-16ca-485e-8585-e1f5ed448b0f",
      "name": "Insert rows in a table1",
      "credentials": {
        "postgres": {
          "id": "OWFOmBW7EsHSRcYB",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Function node: set json.exists based on merged HTTP GET result\nreturn items.map(item => {\n  // Common keys we observed in your merge output\n  // e.g. item.json.id or item.json.file_hash may be present when a row exists\n  let exists = false;\n\n  // If GET returned a row merged into top-level fields, check id or file_hash:\n  if (item.json.id !== undefined && item.json.id !== null) exists = true;\n  if (!exists && item.json.file_hash) exists = true;\n\n  // If HTTP response is nested in an array/object, find any non-empty array/object\n  if (!exists) {\n    for (const k of Object.keys(item.json)) {\n      const v = item.json[k];\n      if (Array.isArray(v) && v.length > 0) { exists = true; break; }\n      if (v && typeof v === 'object' && Object.keys(v).length > 0) { exists = true; break; }\n    }\n  }\n\n  item.json.exists = exists;\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        -64
      ],
      "id": "eeaa478a-7ffe-479d-a225-f59fabe9fa78",
      "name": "Check if hash exists"
    },
    {
      "parameters": {
        "binaryPropertyName": "=attachment_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1664,
        -176
      ],
      "id": "d3752627-e8c8-4975-bdd7-541e114e9397",
      "name": "Extract from File: Fact_order_aggregate"
    },
    {
      "parameters": {
        "binaryPropertyName": "=attachment_1",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1664,
        96
      ],
      "id": "978c0bce-b68c-48df-a9ef-589c9eda5ba9",
      "name": "Extract from File: Fact_order_line"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Check CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check CSV": {
      "main": [
        [
          {
            "node": "Create Hash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Hash": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Check if hash exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract from File: Fact_order_aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File: Fact_order_line",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if hash exists": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File: Fact_order_aggregate": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File: Fact_order_line": {
      "main": [
        [
          {
            "node": "Insert rows in a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e814cbc7-7090-47f1-81d1-d0c2eca22b34",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bec4c848026e5eb0f0c5da3b1e7f13ead9e10f99f5186ed7002aeb0f4e559f01"
  },
  "id": "clKYlozR8QQKrjzY",
  "tags": []
}